{% extends 'front.html.twig' %}


{% block titre %}
{% endblock %}

    {% block stylesheets %}  
    
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <link href="{{ asset ('assets/css/bootstrap.min.css')}}" rel="stylesheet">

	<link href="{{ asset ('assets/css/font-awesome.min.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/bootstrap-theme.css')}}" rel="stylesheet">
    <link href="{{ asset ('assets/css/main6.css')}}" rel="stylesheet">
    {% endblock %}


{% block body %}


 <!-- etape 1 -->
    <div class="container">
        <!-- etape 2 ouverture de ligne -->
        <div class="row">
             <div class="col-sm-8"></div>
                <div class="col-sm-4">

                <!-- Récupération de la date du jour à aligner display inline block -->
                
               <p id= "datedujour"> Date du jour  </p>   
            <div id="current_date">    
                       
                <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                </script>
                            
            </div>
        </p>
    </div>      
</div>
            <!-- Récupération  du User de la sessions en cours -->
    <div class="row">
     <div class="col-sm-8"></div>
        <div class="col-sm-4" id="Participant"> Participant : {# {{ nom }} {{ prenom }} #}
     </div>
     </div>

        <div class="row">
            <!-- etape 3  -->
            <div class="col-12">
                <br>
                <table class="table table-striped ">
                    <thead>
                        {# <tr class="bg-success"> #}
                        <tr class="classementTableauRow">
                            <th>Nom de la sortie</th>
                            <th>Date de la sortie</th>
                            <th>Clotûre</th>
                            <th>Inscrit/place</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            {# <th>Actions</th> #}
                        </tr>
                    </thead>
                    <tbody class="classementTableauTbody">
                            {% for s in tableauSortie %}
                        <tr>                           

                             <td>{{ s.nom}}</td>
                            <td>{{ s.dateHeureDebut|date('d-m-Y H:i') }}</td>
                            <td>{{ s.dateLimiteInscription|date('d-m-Y') }}</td>
                            <td> / {{ s.nbInscriptionsMax}}</td>
                            <td>{{ s.etat.libelle}}</td>
                            <td>{{ s.duree}}</td>
                            {# Ajouter seulement la 1ere lettre du prénom #}
                            <td>{{ s.organisateur.nom}} {{ s.organisateur.prenom}}</td> 
                                {# <a href="{{ path('detail_classement',{id:j.id})}}" class="btn btn-success">
                                <a href="{{ path('detail_classement',{id:j.id})}}" class="btn btnClassement">
                                <i class="fa fa-eye" aria-hidden="true"></i> 
                                </a>
                            </td> #}
                        </tr>
                        {% endfor %}            
                    </tbody>
                </table>
            </div>   
        </div>
    </div> 


{% endblock %}
