{% extends 'front.html.twig' %}


{% block titre %}{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

	<link href="{{ asset ('assets/css/bootstrap.min.css')}}" rel="stylesheet">

	<link href="{{ asset ('assets/css/font-awesome.min.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/bootstrap-theme2.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/main6.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}


	<!-- etape 1 -->
	<div
		class="container-fluid">
		<!-- etape 2 ouverture de ligne -->
		<div class="row">
			<div class="col-sm-10"></div>
			<!-- marge de 10 à gauche -->
			<div
				class="col-sm-2" id="dateDuJour">
				<!-- Récupération de la date du jour à aligner display inline block -->

				<p id="datedujour">
					Date du jour :
				</p>
				<div id="current_date">

					<script>
						date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
					</script>
				</div>
			</div>
		</div>

		<!-- Récupération  du User de la sessions en cours Pour affichage du nom -->
		<div class="row">
			<div class="col-sm-10"></div>
			<div class="col-sm-2" id="Participant">
				Participant :
				{{ app.user.nom }}
				{{ app.user.prenom }}
			</div>
		</div>

		<!-- Zones de Filtres -->
		{# <form action="{{ path('rechercher') }}" method="get" > #}
		<div id="ZoneFiltres">
			<div class="row">
				<h3>
					Filtrer les Sorties
				</h3>
				{{ form_start(filtre)}}
				<div class="col-sm-4" id="Zone1Filtre">
					<div id="Select">
						{{ form_row(filtre.campus) }}
					</div>

					<!-- Zone de recherche à aligner -->
					<div id="rechercheTextuelle">
						{{ form_row(filtre.recherche) }}
					</div>

					<!-- zone de recherche par date à aligner -->
					<div id="rechercheDate">
						{{ form_row(filtre.dateDebut) }}
						{{ form_row(filtre.dateFin) }}
					</div>
				</div>

				<!-- Zone Check box Seconde colonne -->
				<div class="col-sm-4" id="ZoneFiltre2">
					<div class="form-check form-switch">
						{{ form_row(filtre.sortieOrganisateur) }}
					</div>

					<div class="form-check form-switch">
						{{ form_row(filtre.sortieInscrit) }}
					</div>

					<div class="form-check form-switch">
						{{ form_row(filtre.sortieNonInscrit) }}
					</div>

					<div class="form-check form-switch">
						{{ form_row(filtre.sortiePasse) }}
					</div>
				</div>

				<!-- Zone Boutton Recherche -->

				<div class="col-sm-3" id="zoneBtnRecherche">
					<div class="text-center">
						<button type="submit" class="btn btn-warning">Recherche</button>
					</div>
				</div>
				{{ form_end(filtre)}}
			</div>
		</div>
		{# </form> #}
		<div
			class="row">
			<!-- etape 3  -->
			<div class="col-12">
				<br>
				<table class="table table-striped ">
					<thead>
						{# <tr class="bg-success"> #}
						<tr class="classementTableauRow">
							<th>Nom de la sortie</th>
							<th>Date de la sortie</th>
							<th>Clotûre</th>
							<th>Inscrit/place</th>
							<th>Etat</th>
							<th>Inscrit</th>
							<th>Organisateur</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="classementTableauTbody">
						{% for s in tableauSortie %}
							<tr>

								<td>{{ s.nom}}</td>
								<td>{{ s.dateHeureDebut|date('d-m-Y H:i') }}</td>
								<td>{{ s.dateLimiteInscription|date('d-m-Y') }}</td>
								<td>
									{{s.getParticipants|length}}/{{ s.nbInscriptionsMax}}</td>
								<td>{{ s.etat.libelle}}</td>
								<td>{{ s.duree}}</td>
								{# Ajouter seulement la 1ere lettre du prénom #}

								<td>
									<a href="{{ path('afficher_profil', {'id': s.organisateur.id}) }}">{{ s.organisateur.nom}}
										{{ s.organisateur.prenom}}</a>
								</td>

								{% if app.user == s.organisateur %}
									<td>
										<a href="{{ path('modifier_sortie',{'id' : s.id })}}">Modifier</a>
										<a href="{{ path('annuler',{'id' : s.id })}}">Annuler</a>
									</td>
								{% else %}
									{% if app.user.nom in s.participants  %}
										<td>
											<a href="{{ path('desinscrire',{'id' : s.id })}}">Desinscrire</a>
										{% else %}
											<td>
												<a href="{{ path('inscrire',{'id' : s.id })}}">S'inscrire</a>

											{% endif %}
										{% endif %}
										<a href="{{ path('afficher_sortie', {'id': s.id}) }}">Afficher</a>
									</td>
									{# <a href="{{ path('detail_classement',{id:j.id})}}" class="btn btn-success">
																											                                <a href="{{ path('detail_classement',{id:j.id})}}" class="btn btnClassement">
																											                                <i class="fa fa-eye" aria-hidden="true"></i> 
																											                                </a>
																											                            </td> #}
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>

        <div class="row">
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
        </div>
		<!-- Boutton ajouter une sortie -->

		<div class="row">
			<div class="d-grid gap-2 col-6 mx-auto">
				<div class="text-center">
					<a href="{{ path('creersortie')}}">
						<button class="btn btn-success" type="button">
							Créer une sortie
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
