{% extends 'frontMonProfil.html.twig' %}


{% block titre %}
	{{ titre }}
	|
	{{ parent() }}
{% endblock %}


{% block body %}
	<h1>{{ titre }}</h1>
	<div class="container col-my">
		{{ form_start(participantForm)}}
		{{ form_widget(participantForm)}}
		<button class="btn btn-info" type="submit">Modifier</button>
		<a href="{{ path('home')}}">
			<button class="btn btn-danger">Retour</button>
		</a>
		{{ form_end(participantForm)}}
	</div>

{% endblock %}
