{% extends 'frontMonProfil.html.twig' %}


{% block titre %}
	{{ titre }}
	|
	{{ parent() }}
{% endblock %}


{% block body %}

<div class="container text-center">
    <div class="row">
		<div class="col-4">
			<img src="{{ asset('img/' ~ participant.brochureFilename) }}"></img>
		</div>

	<div class="col-4">
		<h2>{{ titre }}</h2>
	</div>
	<br>

		{{ form_start(participantForm)}}
		
		{{ form_row(participantForm.pseudo) }}
			
		{{ form_row(participantForm.prenom) }}
			
		{{ form_row(participantForm.nom) }}
		
		{{ form_row(participantForm.telephone) }}
				
		{{ form_row(participantForm.email) }}
				
		{{ form_row(participantForm.password) }}
			
		{{ form_row(participantForm.campus) }}

		{{ form_row(participantForm.brochure) }}

		<div class="col-4">
			<br>
			<br>
				<button class="btn btn-info" type="submit">Modifier</button>
				{{ form_end(participantForm)}}
			</div>
		</div>
		<a href="{{ path('home')}}">
		<br>
			<button class="btn btn-danger">Retour</button>
		</a>
	</div>
	</div>

{% endblock %}
