{% extends 'frontMonProfil.html.twig' %}


{% block titre %}
	{{ titre }}
	|
	{{ parent() }}
{% endblock %}


{% block body %}
	<h1>{{ titre }}</h1>

		<div class="col-4">
			<img src="{{ asset('img/' ~ participant.brochureFilename) }}"></img>
		</div>


	<div class="container col-my">
		{{ form_start(participantForm)}}
		<div class="row">
			<div class="col-4">
				{{ form_row(participantForm.prenom) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.nom) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.pseudo) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.telephone) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.email) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.password) }}
			</div>
			<div class="col-4">
				{{ form_row(participantForm.campus) }}
			</div>

			<div class="col-4">
				{{ form_row(participantForm.brochure) }}
			</div>

			<div class="col-4">
			<button class="btn btn-info" type="submit">Modifier</button>
			{{ form_end(participantForm)}}
			</div>
		</div>
		<a href="{{ path('home')}}">
			<button class="btn btn-danger">Retour</button>
		</a>
	</div>

{% endblock %}
