{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block titrePhoto %}
	
    <h1 class="lead">Sortie</h1> 

{% endblock %}


{% block header %}

	<header id="headSortie">
		<div class="container">
			<div class="row">
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}

        <div class="container">
            <h1>Afficher une sortie</h1>

            <div class="row">
                <div class="col-6">
                        Nom de la sortie :
                        {{ sortie.nom }}    
                </div>
                <div class="col-6">
                        Campus :
                        {{ sortie.campus }}
                </div>
            </div>
            <div class="row">
                <div class="col-6"> 
                        Date et heure de la sortie :
                        {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}
                </div>
                <div class="col-6">
                        Lieu :
                        {{ sortie.lieu.nom }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                        Date limite d'inscription :
                        {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}
                </div>    
                <div class="col-6">
                        Rue :
                        {{ sortie.lieu.rue }}
                </div>  
            </div>
            <div class="row">
                <div class="col-6">
                        Nombre de places :
                        {{ sortie.nbInscriptionsMax }}
                </div>
                <div class="div-col6">
                    <tr>
                        Code postal :
                        {{ sortie.lieu.ville.codePostal }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                        Durée :
                        {{ sortie.duree }} minutes
                </div>
                <div class="col-6">
                        Latitude :
                        {{ sortie.lieu.latitude }}              
                </div>        
            </div>
            <div class="row">
                <div class="col-6">
                        Description et infos :
                        {{ sortie.infosSortie }}</td>
                </div>
                <div class="col-6">
                        Longitude :
                        {{ sortie.lieu.longitude }}</td>
                </div>
            </div>


<div class="container">
  <div class="row">
            <div class="row">
                <div class="col-6">
                    <div class="mt-4">
                        <h3>Listes des participants inscrits :</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div style="overflow: scroll; height:250px;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-1">Email</th>
                                    <th scope="col" class="col-3">Nom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in sortie.participants %}
                                    <tr>
                                        <td>{{ user.email }}</td>
                                        <td>	<a class="aHomeOrganisateur" href="{{ path('afficher_profil', {'id': user.id}) }}">{{ user.nom}}
											{{ user.prenom}}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}       
   
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">


	<!-- Custom styles for our template -->
	<link href="{{ asset ('assets/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/font-awesome.min.css')}}" rel="stylesheet">
	
    <link href="{{ asset ('assets/css/bootstrap-theme2.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/mainSortie.css')}}" rel="stylesheet">

{% endblock %}