{% extends 'frontMonProfil.html.twig' %}


{% block titre %}
	{{ titre }}
	|
	{{ parent() }}
{% endblock %}


{% block body %}
	<h1>{{ titre }}</h1>
	<div class="container col-my">
		<form onSubmit="return verif()" action="{{ path('sortie_modifier', {'id' : sortie.id }) }}" method="post">

			<div class="row">
				<div class="col-4">
					<label for="nom">Nom</label>
					<input class="form-control" name="nom" id="nom" value='{{sortie.nom}}'>
				</div>
				<div class="col-4">
					<label for="heureDebut">Heure de Début</label>
					<input class="form-control" type="datetime-local" type="date" name="heureDebut" id="heureDebut" value="{{sortie.dateHeureDebut|date('d-m-Y H:i')}}">
				</div>
				 <div class="col-4">
					<label for="duree">Duree</label>
					<input class="form-control" name="duree" id='duree' type="number" value='{{sort.duree}}'>
				</div>
				{#<div class="col-4">
					<label for="tel">Mot de Passe</label>
					<input class="form-control" name="password" id='password'>
				</div>
				<div class="col-4">
					<label for="tel">Confirmer Mot de Passe</label>
					<input class="form-control" name="confirm" id='confirm'>
				</div>
				<div class="col-4">
					<label for="campus">Campus</label>
					<select name="campus" id="campus">
						{% for cam in campus %}
							<option value={{cam.nom}}>{{cam.nom}}</option>
						{% endfor %}
					</select>
				</div> #}
			</div>
			<div>
				<a href="{{ path('home')}}" class="btn btn-danger" style="margin: 10px auto 10px;">
					<i class="fa fa-arrow-circle-left"></i>
				</a>
				<button class="btn btn-info" type="submit" style="margin: 10px 10px 10px;">
					<i class="fa fa-file-text-o"></i>
				</button>
			</div>
		</div>
	</form>
    <script>
	function verif(){
	    var a = document.getElementById("password").value;
        var b = document.getElementById("confirm").value;
            if (a!=b) {
               alert("Passwords do no match");
               return false;
            }
    </script>

{% endblock %}


