<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
    <title>
           {% block titre %} ENI's Dev Out!
           {% endblock %}
    </title>
	<link rel="shortcut icon" href="assets/images/sepq.jpg">
	
    {% block stylesheets %}       
   

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">


	<!-- Custom styles for our template -->
	<link href="{{ asset ('assets/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/font-awesome.min.css')}}" rel="stylesheet">
	
    <link href="{{ asset ('assets/css/bootstrap-theme2.css')}}" rel="stylesheet">
	<link href="{{ asset ('assets/css/mainProfil2.css')}}" rel="stylesheet">


	{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{{ path('home')}}"><img src="{{ asset('img/logoSortie.png')}}" width="100" alt="logo"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<!-- <li class="active"><a href="#">Home</a></li> -->
					<li class="dropdown">
						<a href="{{ path('ville')}}">Villes</a><b class="caret"></b></a>
					</li>
					<li class="dropdown">
						<a href="{{ path('campus')}}">Campus</a><b class="caret"></b></a>
					</li>

					<li class="dropdown">
						<a href="{{ path('home')}}">Accueil</a><b class="caret"></b></a>
					</li>
					<li class="dropdown">
						<a href="{{ path('participant_modifier',{id:app.user.id })}}">Mon profil</a>
					</li>
					<li class="dropdown">
						<a class="btn" href="{{ path ('app_logout') }}">DECONNEXION</a><b class="caret"></b></a>
					</li>

				
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">MON PROFIL</h1> 
				{# <h1 class="lead">ENI's Dev Out</h1>
				<p class="tagline">WE ESCAPE : logiciel de sorties et loisirs pour les étudiants de l'<a href="https://www.eni-ecole.fr/" target="_blank">ENI</a></p> #}
				 <br><br>
				 {# <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> #}
					{# <a href="#ancre" class="btn btn-primary btn-lg">Rejoins-nous</a> #}

				</div>
		</div>
	</header> 
	<!-- /Header -->


    <!-- Intro -->
	<div class="container text-center">
		<br> <br>
		{# <h2 class="thin">Mon profil</h2> #}
	</div>
    <br><br>
		

   {% block body %}

    {% endblock %}



	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">		
					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-linkedin fa-2"></i></a>
								{# <a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a> #}
							</p>
                            <p class="membre">
								<a href="https://www.linkedin.com/in/thomas-guerin-074433146/" target="_blank">Toto</a>
								<a href="https://www.linkedin.com/in/baptiste-guillon-138054107/" target="_blank">Baba</a>
								<a href="https://www.linkedin.com/in/malo-ford-a0b32a1b0/" target="_blank">Malo</a>
							</p>		
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
				</div> <!-- /row of widgets -->
			</div>
		</div> 
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	{# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script> #}

	<script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')}}"></script>
	<script src="{{ asset('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')}}"></script>
	<script src="{{ asset('assets/js/headroom.min.js')}}"></script>
	<script src="{{ asset('assets/js/jQuery.headroom.min.js')}}"></script>
	<script src="{{ asset('assets/js/template.js')}}"></script>


</body>
</html>